
header{width: 1000px; height: 100px; text-align: center; border: 1px solid black; }
section{ border: 1px solid black; width: 200px; height: 300px;}
article{ border: 1px solid black; width: 200px; height: 200px;float: left;}
aside{ border: 1px solid black; width: 500px; height: 400px; margin-left: 300px;}
footer{ border: 1px solid black;width: 1000px; height: 100px; text-align: center; border: 1px solid black; margin-bottom: 1200px; }
